@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
    --primary-color: #F3FFFD;
    --primary-color-hover: #E6FFFB;
    --background-color: #302B2A;
  }

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  background-color: var(--background-color);
  min-height: 100vh;
  max-width: 100vw;
}
html {
  overflow-x: hidden;
}
h3 {
  justify-content: center;
  width: 30%;
  border-style: dotted;
  border-radius: 15px;
  margin: auto;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.fdiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cdiv {
  text-align: center;
  background-color: transparent;
  width: 500px;
  min-height: 470px;
  border: black;
  border-radius: 20px;
  border-style: dotted;
  margin-bottom: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

button {
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 10px;
  }
  
  button:hover {
    background-color: var(--primary-color-hover);
  }

.cdiv input {
  background-color: transparent;
  border-style: dotted;
  border-color: black;
  border-radius: 15px;
  outline: none;
  box-sizing: border-box;
  width: 87%;
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
  border-width: 3.2px;
  margin: 3px;
}
.cdiv p {
  padding: 0;
  margin-bottom: 10px;
  color: teal;
}
.cdiv h1 {
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0;
}
.cdiv ul {
  padding: 0;
  margin: 0;
}
.cdiv li {
  list-style: none;
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-style: dotted;
  border-radius: 15px;
  font-weight: 900;
  font-size: 1.2rem;
  display: flex;
}
.cdiv li .testdiv2 {
  flex: 1;
  text-align: right;
  color: black;
  cursor: pointer;
  box-sizing: border-box;
}
.cdiv li .testdiv2 i {
  margin: 5px;
}

.kp {
  cursor: pointer;
  margin: 1px;
  padding: 10px;
  border-style: dotted;
  border-radius: 15px;
}
.cross {
  text-decoration: line-through;
}
.warning {
  font-weight: bold;
  color: black !important;
}
.disable {
  cursor: none;
}
.justify {
  text-align: justify;
  margin: 25px;
}

/* <======Footer======> */

footer h4 {
  text-align: center;
  color: teal;
}
footer h4 span {
  font-size: 1.1rem;
}

::-webkit-scrollbar {
  background-color: #ffc796;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 15px;
}
