@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --primary-color: #f3fffd;
  --primary-color-hover: #e6fffb;
  --background-color: #302b2a;
}

body {
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--primary-color);
  font-family: "Roboto Slab", serif;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: var(--primary-color);
  font-family: "Source Serif Pro", serif;
}

a {
  text-decoration: none;
}

b {
  color: var(--primary-color-hover);
}

button {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 16px;
  font-weight: 700;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

button:hover {
  background-color: var(--primary-color-hover);
}

button:focus {
  background-color: var(--primary-color-hover);
  border: none;
  outline: none;
}

.todo-input {
  padding: 10px;
  border-radius: 10px;
  border-style: hidden;
  outline: none;
  width: 100%;
  font-family: var(--bs-font-monospace);
}

.section-margin {
  margin-top: 105px;
  margin-bottom: 105px;
}

@media (max-width: 767px) {
  .section-margin {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

/************* User Registration *************/

.user-registration {
  text-align: center;
}

/************* Footer *************/

footer h4 {
  text-align: center;
  color: teal;
}
footer h4 span {
  font-size: 1.1rem;
}

::-webkit-scrollbar {
  background-color: #ffc796;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: teal;
  border-radius: 15px;
}
